body {
    background-color: #8080803a;
    font-size: 16px;
    border: borderbox;
}

h1, h2 {
    background-color: #9fc2c988;
}

h1 {
    font-size: 2em;
    padding: 30px 0 30px 10px;
}

h2 {
    font-size: 1.6em;
    padding: 20px 0 20px 10px;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 2px solid #5D6063;

}

p{
    display: block;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}