body {
    background-color: black;
    font-size: 16px;
    border-bottom: borderbox;
}

.page {
    width: 800px;
    margin: 0 auto;
}

h1, h2, p, ol, ul {
    background-color: #9fc2c92d;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    padding: 30px 0 30px 10px;
}

h2 {
    font-size: 1.6em;
    padding: 20px 0 20px 10px;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-bottom: 2px solid #5D6063;
}

p{
    display: block;
    text-align: center;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}
